services:
  voicenudge-backend:
    build: .
    container_name: voicenudge-backend
    ports:
      - "8888:8888"
    environment:
      - FLASK_ENV=production
    volumes:
      - .:/app
      - ./pretrained_models:/app/pretrained_models   
      - ./samples:/app/samples                       
    env_file:
      - .env
    restart: always
    depends_on:
      - postgres

  postgres:  
    image: postgres:15
    container_name: voicenudge_backend-postgres-1
    environment:
      POSTGRES_DB: voicenudge
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
